body{
    background-image: url(/assets/497fa6f1644c4309b3d46b129ba9998b.webp);
}

.logo{
    width: fit-content;
    height: fit-content;
}

@font-face {
    font-family: 'Courier Prime';
    src: url(/fonts/Courier_Prime/CourierPrime-Regular.ttf)
}

#navtext{
    font-size: 30px; 
    text-wrap: nowrap;
    font-family: 'Courier Prime'
}

.btnborder{
    border: none;
}

#dropdownstyle{
    font-size: 30px;
    background-color: whitesmoke; 
    border: none; 
}

a{
    font-family: 'Courier Prime'
}

h1{
    font-family: 'Courier Prime'
}