.font{
    font-family: 'Courier Prime-Bold';
}

body{
    background-image: url(/assets/497fa6f1644c4309b3d46b129ba9998b.webp);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    text-align: center;
}

input {
    width: 300px;
    padding: 10px;
    font-size: 20px;
    border: transparent;
    border-radius: 5px;
    background-color: transparent;
    color: black; 
}

input::placeholder {
    color: #000000; 
}
hr {
    height: 2px;
    background: #000000;
    opacity: 80%;
}

.logo{
    width: fit-content;
    height: fit-content;
}

@font-face {
    font-family: 'Courier Prime';
    src: url(/fonts/Courier_Prime/CourierPrime-Regular.ttf);
}
@font-face{
    src: url(/fonts/Courier_Prime/CourierPrime-Bold.ttf);
    font-family: 'Courier Prime-Bold'
}

#navtext{
    font-size: 30px; 
    text-wrap: nowrap;
    font-family: 'Courier Prime'
}

.dropdown-menu{
    font-size: 23px;
    background-color:transparent; 
    border: none; 
    font-family: 'Courier Prime'
}

input {
    font-family: 'Courier Prime'; 
    display: flex;
    justify-self: start; 
    outline: none; 
    width: 100%;
}


.bold{
    font-family: 'Courier Prime-Bold';
    text-decoration: underline;
    font-size: 18px;
}
.lightbold{
    font-family: 'Courier Prime';
    font-size: 18px;
}
.footer{
    font-size: 20px;
    align-self: end;
}
p{
    font-family: 'Courier Prime';
    margin: 0px;
}




