@font-face {
    font-family: 'Courier Prime';
    src: url(/fonts/Courier_Prime\,IBM_Plex_Sans/Courier_Prime);
}

.font{
    font-family: 'Courier Prime'
}

body{
    background-image: url(/assets/497fa6f1644c4309b3d46b129ba9998b.webp);
}