body{
    background-image: url(/assets/497fa6f1644c4309b3d46b129ba9998b.webp);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 0;
    text-align: center;
}



@font-face {
    font-family: 'Courier Prime';
    src: url(/fonts/Courier_Prime/CourierPrime-Regular.ttf)
}


.navgrid{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.65fr auto;
}

.navlogo{
    grid-column: 1;
    justify-self: start;
}

.navbuttons{
    grid-column: 2;
    justify-items: center;
    align-content: center;
}


#navtext{
    font-size: 35px; 
    text-wrap: nowrap;
    font-family: 'Courier Prime'
}

.btnborder{
    border: none;
}

#dropdownstyle{
    font-size: 30px;
    background-color: whitesmoke; 
    border: none; 
}

a{
    font-family: 'Courier Prime'
}

h1{
    font-family: 'Courier Prime'

}

p{
    font-family: 'Courier Prime';
    margin: 0px;
}

.topsgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto auto 1fr auto auto 1fr auto;
    gap: 1rem;
}

.topstext{
    grid-column: 2;
    grid-row: 1;
}

hr{
    height: 2px;
    background: #000000;
    opacity: 80%;
    margin-left: 2rem;
    margin-right: 2rem;
}

.top1{
    background-image: url(/assets/image.png);
    grid-column: 1;
    grid-row: 2;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    justify-self: center;
}

.top1text{
    grid-column: 1;
    grid-row: 3;
    font-weight: bolder;
}

.top2{
    background-image: url(/assets/Screenshot\ 2024-11-21\ 151818.png);
    grid-column: 2;
    grid-row: 2;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-self: center;
    background-position: 50%;
}


.top2text{
    grid-column: 2;
    grid-row: 3;
    font-weight: bolder;
}

.top3{
    background-image: url(/assets/harleytoons.png);
    grid-column: 3;
    grid-row: 2;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-self: center;
    background-position: 50%;
}


.top3text{
    grid-column: 3;
    grid-row: 3;
    font-weight: bolder;
}

.crewtext{
    grid-row: 4;
    grid-column: 2;
}

.crew1{
    background-image: url(/assets/sjshrk.png);
    grid-column: 1;
    grid-row: 5;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    justify-self: center;
}

.crew1text{
    grid-column: 1;
    grid-row: 6;
    font-weight: bolder;
}

.crew2{
    background-image: url(/assets/oakleycrew.png);
    grid-column: 2;
    grid-row: 5;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    justify-self: center;
}

.crew2text{
    grid-column: 2;
    grid-row: 6;
    font-weight: bolder;
}

.crew3{
    background-image: url(/assets/eastsidecrewneck.png);
    grid-column: 3;
    grid-row: 5;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    justify-self: center;
}

.crew3text{
    grid-column: 3;
    grid-row: 6;
    font-weight: bolder;
}

.hoodiestext{
    grid-row: 7;
    grid-column: 2;
}

.hoodies1{
    background-image: url(/assets/Screenshot\ 2024-11-21\ 230534.png);
    grid-column: 1;
    grid-row: 8;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    justify-self: center;
}

.hoodies1text{
    grid-column: 1;
    grid-row: 9;
    font-weight: bolder;
}

.hoodies2{
    background-image: url(/assets/jncohoodie.png);
    grid-column: 2;
    grid-row: 8;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    justify-self: center;
}

.hoodies2text{
    grid-column: 2;
    grid-row: 9;
    font-weight: bolder;
}

.hoodies3{
    background-image: url(/assets/tonyhawkhoodie.png);
    grid-column: 3;
    grid-row: 8;
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    justify-self: center;
}

.hoodies3text{
    grid-column: 3;
    grid-row: 9;
    font-weight: bolder;
}

.footer{
    font-size: 20px;
    align-self: end;
}